<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<title>Your Message Subject or Title</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" type="text/css" href="../../app/stylesheet/reset.css" data-embed>
	<link rel="stylesheet" type="text/css" href="../../app/stylesheet/inline.css">
	<link rel="stylesheet" type="text/css" href="../../app/stylesheet/mobile.css" data-embed>
</head>
	<body>
		<!-- SINGLE COLUMN -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
	    <tr>
	      <td bgcolor="#ffffff" align="center">
					<table border="0" cellpadding="0" cellspacing="0" width="540" class="l-row--540">
	   	 			<tr>
				      <td bgcolor="#ffffff" align="center">
				      	<!-- START OF SINGLE COLUMN -->
								<table border="0" cellpadding="0" cellspacing="0" width="500" class="l-row--500">
									<tr>
										<td align="left" class="padding--bottom-40">
				            	<table width="100%" border="0" cellspacing="0" cellpadding="0">
				                <tr>
				                  <td>
				                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
				                      <tr>
				                        <td align="left" class="padding--top-40">
				                        	<!-- CONTENT BLOCK -->
				                        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
				                        		<tr>
				                        			<td align="left" class="content__small content__link">
							                        	<span class="content__small content__link">
							                        		<a href="">View in browser</a>
							                        	</span>
				                        			</td>
				                        		</tr>
				                        	</table>
				                        </td>
				                      </tr>
				                      <tr>
				                        <td align="left" class="padding--top-40">
				                        	<!-- RESPONSIVE IMAGES -->
				                        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
				                        		<tr>
							                        <td align="left" class="image--responsive-500-174">
						                            <a href="" target="_blank">
						            	                <img src="http://www.tetloose.com/email/test/images/banner.jpg" width="500" height="174" border="0" alt="">
						                            </a>
							                        </td>
				                        		</tr>
				                        	</table>
				                        </td>
				                      </tr>
				                      <tr>
				                        <td align="left" class="padding--top-40">
				                        	<!-- FIXED IMAGES -->
				                        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
				                        		<tr>
							                        <td align="left" class="image--fixed-240-161">
						                            <a href="http://salariya.com/" target="_blank">
						            	                <img src="http://www.tetloose.com/email/test/images/logo.png" width="240" height="161" border="0" alt="">
						                            </a>
							                        </td>
				                        		</tr>
				                        	</table>
				                        </td>
				                      </tr>
				                      <tr>
				                        <td align="center" class="padding--top-40">
				                        	<!-- BUTTON -->
																	<table width="100%" border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td align="center">
																				<a href="#" target="_blank" class="button">Learn More &rarr;</a>
																			</td>
																		</tr>
																	</table>
				                        </td>
				                      </tr>
				                    </table>
				                  </td>
				                </tr>
				              </table>
				            </td>
				          </tr>
				        </table>
	            </td>
	          </tr>
	        </table>
	      </td>
	    </tr>
	  </table>
		<!-- TWO COLUMNS -->
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
	    <tr>
	      <td bgcolor="#ffffff" align="center">
					<table border="0" cellpadding="0" cellspacing="0" width="540" class="l-row--540">
	   	 			<tr>
				      <td bgcolor="#ffffff" align="center">
				      	<!-- START OF DOUBLE COLUMN -->
								<table border="0" cellpadding="0" cellspacing="0" width="500" class="l-row--500">
									<tr>
										<td align="left">
											<!-- START OF DOUBLE LEFT -->
											<table border="0" cellpadding="0" cellspacing="0" width="230" align="left" class="l-row--230">
												<tr>
													<td align="left" class="padding--bottom-40">
							            	<table width="100%" border="0" cellspacing="0" cellpadding="0">
							                <tr>
							                  <td>
							                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
							                      <tr>
							                        <td align="left" class="padding--top-40">
							                        	<!-- CONTENT BLOCK -->
							                        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
							                        		<tr>
							                        			<td align="left" class="content__heading-1">
										                        	<span class="content__heading-1">
										                        		Heading 1
										                        	</span>
							                        			</td>
							                        		</tr>
							                        	</table>
							                        </td>
							                      </tr>
							                      <tr>
							                        <td align="left" class="padding--top-40">
							                        	<!-- RESPONSIVE IMAGES -->
							                        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
							                        		<tr>
										                        <td align="left" class="image--responsive-230-80">
									                            <a href="" target="_blank">
									            	                <img src="http://www.tetloose.com/email/test/images/banner--alpha.jpg" width="230" height="80" border="0" alt="">
									                            </a>
										                        </td>
							                        		</tr>
							                        	</table>
							                        </td>
							                      </tr>
							                      <tr>
							                        <td align="left" class="padding--top-40">
							                        	<!-- CONTENT BLOCK -->
							                        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
							                        		<tr>
							                        			<td align="left" class="content__paragraph">
										                        	<span class="content__paragraph">
										                        		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto voluptatem, atque eaque delectus, libero quaerat perspiciatis itaque doloribus aspernatur laborum inventore eum, dicta harum eveniet blanditiis rem quis animi. Aut.
										                        	</span>
							                        			</td>
							                        		</tr>
							                        	</table>
							                        </td>
							                      </tr>
							                      <tr>
							                        <td align="center" class="padding--top-40">
							                        	<!-- BUTTON -->
																				<table width="100%" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td align="center">
																							<a href="#" target="_blank" class="button">Learn More &rarr;</a>
																						</td>
																					</tr>
																				</table>
							                        </td>
							                      </tr>
							                    </table>
							                  </td>
							                </tr>
							              </table>
							            </td>
							          </tr>
											</table>
											<!-- START OF DOUBLE RIGHT -->
											<table border="0" cellpadding="0" cellspacing="0" width="230" align="right" class="l-row--230">
												<tr>
													<td align="left" class="padding--bottom-40">
							            	<table width="100%" border="0" cellspacing="0" cellpadding="0">
							                <tr>
							                  <td>
							                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
							                      <tr>
							                        <td align="left" class="padding--top-40">
							                        	<!-- CONTENT BLOCK -->
							                        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
							                        		<tr>
							                        			<td align="left" class="content__heading-1">
										                        	<span class="content__heading-1">
										                        		Heading 1
										                        	</span>
							                        			</td>
							                        		</tr>
							                        	</table>
							                        </td>
							                      </tr>
							                      <tr>
							                        <td align="left" class="padding--top-40">
							                        	<!-- RESPONSIVE IMAGES -->
							                        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
							                        		<tr>
										                        <td align="left" class="image--responsive-230-80">
									                            <a href="" target="_blank">
									            	                <img src="http://www.tetloose.com/email/test/images/banner--alpha.jpg" width="230" height="80" border="0" alt="">
									                            </a>
										                        </td>
							                        		</tr>
							                        	</table>
							                        </td>
							                      </tr>
							                      <tr>
							                        <td align="left" class="padding--top-40">
							                        	<!-- CONTENT BLOCK -->
							                        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
							                        		<tr>
							                        			<td align="left" class="content__paragraph">
										                        	<span class="content__paragraph">
										                        		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto voluptatem, atque eaque delectus, libero quaerat perspiciatis itaque doloribus aspernatur laborum inventore eum, dicta harum eveniet blanditiis rem quis animi. Aut.
										                        	</span>
							                        			</td>
							                        		</tr>
							                        	</table>
							                        </td>
							                      </tr>
							                      <tr>
							                        <td align="center" class="padding--top-40">
							                        	<!-- BUTTON -->
																				<table width="100%" border="0" cellspacing="0" cellpadding="0">
																					<tr>
																						<td align="center">
																							<a href="#" target="_blank" class="button">Learn More &rarr;</a>
																						</td>
																					</tr>
																				</table>
							                        </td>
							                      </tr>
							                    </table>
							                  </td>
							                </tr>
							              </table>
							            </td>
							          </tr>
											</table>
				            </td>
				          </tr>
				        </table>
	            </td>
	          </tr>
	        </table>
	      </td>
	    </tr>
	  </table>
	  <img class="image--gmail-500-1" src="http://www.tetloose.com/email/test/images/spacer.png" width="500" height="1" border="0" alt="">
		<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;">
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		</div>
	</body>
</html>
