.button {
  display: inline-block;

  background-color: $button;

  border-top: 15px solid $button;
  border-bottom: 15px solid $button;
  border-left: 25px solid $button;
  border-right: 25px solid $button;
  border-radius: 3px;

  color: $white;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
}
