.content__heading-1 {
  color: $black;
  font-size: 40px;
  line-height: 48px;
  @include font-family();
}

.content__heading-2 {
  color: $black;
  font-size: 30px;
  line-height: 38px;
  @include font-family();
}

.content__paragraph {
  color: $black;
  font-size: 16px;
  line-height: 24px;
  @include font-family();
}

.content__small {
  color: $black;
  font-size: 14px;
  line-height: 22px;
  @include font-family();
}

.content__link a,
.content__link {
  color: $black;
  text-decoration: none;
  @include font-family();

  &:hover {
    text-decoration: underline;
  }
}
