td[class="image--responsive-500-174"] img {
  max-width: 500px;
  min-width: 500px;
  width: 500px;
  max-height: 174px;
  min-height: 174px;
  height: 174px;
}

td[class="image--responsive-230-80"] img {
  max-width: 230px;
  min-width: 230px;
  width: 230px;
  max-height: 80px;
  min-height: 80px;
  height: 80px;
}

td[class="image--fixed-240-161"] img {
  max-width: 240px;
  min-width: 240px;
  width: 240px;
  max-height: 161px;
  min-height: 161px;
  height: 161px;
}

img[class="image--gmail-500-1"] {
  width: 500px;
  min-width: 500px;
  max-width: 500px;
  height: 1px;
  max-height: 1px;
  min-height: 1px;
  line-height: 1px;
}
