table[class="l-row-540"] {
  max-width: 540px;
  min-width: 540px;
  width: 540px;
}

table[class="l-row-500"] {
  max-width: 500px;
  min-width: 500px;
  width: 500px;
}

table[class="l-row-210"] {
  max-width: 210px;
  min-width: 210px;
  width: 210px;
}
