td[class="padding-top-20"] {
  padding: 20px 0 0 0;
}

td[class="padding-top-40"] {
  padding: 40px 0 0 0;
}

td[class="padding-top-40-bottom-40"] {
  padding: 40px 0 40px 0;
}

td[class="padding-top-60"] {
  padding: 60px 0 0 0;
}

td[class="padding-top-60-bottom-20"] {
  padding: 60px 0 20px 0;
}

td[class="padding-top-80"] {
  padding: 80px 0 0 0;
}
