// BORDERS
.u-hairline--top {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
}

.u-hairline--bottom {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
}

.u-hairline--left {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
}

.u-hairline--right {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
}

.u-hairline {
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
}
