$black: #000;
$body: #767676;
$white: #fff;
$button: #e31837;
$link: #767676;

$facebook: #4f75ab;
$twitter: #55acee;
$instagram: #2a5b83;
$flickr: #ff007d;
$dribble: #ff2486;
$youtube: #e52c27;
$vimeo: #00b2ed;
$pinterest: #b60108;
$tumblr: #529ecc;
$linkedin: #0077b5;
$google: #4286f6;
$skype: #00b4ee;
