<table border="0" cellpadding="0" cellspacing="0" width="500" class="l-row-500">
  <tr>
    <td align="left">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td align="center" class="padding-top-40">
                  <!-- CONTENT BLOCK -->
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="center" class="h1">
                        <span class="h1">
                          Title
                        </span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
              <tr>
                <td align="center" class="padding-top-20">
                  <!-- CONTENT BLOCK -->
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td align="center" class="p">
                        <span class="p">
                          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum reprehenderit voluptas aliquid corrupti culpa, cum ipsum unde provident quod dolor quidem repellendus? Possimus laudantium porro doloribus cumque eius hic vitae.
                        </span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
