.html,
.body,
html,
body {
  @include font-smoothing();
}

.html,
html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.body,
body {
  color: $black;
  @include font-family();
  font-size: 16px;
  line-height: 24px;
}

