/* CLIENT-SPECIFIC STYLES */
#outlook a { /* Force Outlook to provide a "view in browser" message */
  padding: 0;
}

.ReadMsgBody {
  width: 100%;
}

.ExternalClass { /* Force Hotmail to display emails at full width */
  width:100%;
}

.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div { /* Force Hotmail to display normal line spacing */
  line-height: 100%;
}

body, table, td, a { /* Prevent WebKit and Windows mobile changing default text sizes */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

table, td { /* Remove spacing between tables in Outlook 2007 and up */
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}

img { /* Allow smoother rendering of resized image in Internet Explorer */
  -ms-interpolation-mode:bicubic;
}
