/* RESET STYLES */
html,
body {
  padding: 0;
}

body {
  height: 100% !important;
  width: 100% !important;
}

html, body, div, span, applet, object, embed, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, xmp, pre,
a, abbr, abbr[title], acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, hr,
table, td, th,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, button, textarea, select, optgroup,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  vertical-align: top;
  margin: 0;

  border: 0;

  outline: 0;
  font: inherit;
}

img {
  display: block;
  height: auto;

  border: 0;

  line-height: 100%;
  text-decoration: none;
  outline: none;
}

table {
  border-collapse: collapse !important;
}
